.Bimage{
    background-image: url("../images/index_background.jpg");
}

.header {
    text-align: center;
    color: crimson;
    font-family: Georgia;
    font-size: 250%;
}

.buttons_feature{
    display: block;
    max-width: 900px;
    margin: 0 auto;
}

.button_feature{
    width: 33%;
    display: inline-block;
    text-align: center;
}

.button_title{
    font-size: 1.5rem;
    padding: 10px;
}

#div_clock {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.hour{
    color: blue;
    font-size: 133%
}

.day{
    color: brown;
}

.time_show_btn{
    display: none;
}